
<h1 class='top'><%= @author.name %>
	<% if @author.bio.present? %>
	<br>
		<h3>
			Bio:
		</h3>
		<p>
			<%= @author.bio %>
		</p>
		<br>
	<% end %>
</h1>
<h3 class="top">
	Diary:
</h3>
<table class="text">
	<% if flash[:notice] %>
	<tr>
		<td class="info">
		  	<%= flash[:notice] %>
		</td>
	</tr>
	<% end %>
		<% @author.thoughts.each do |t| %>
		  <tr>
		  <td class="text">			
			<%= link_to t.text, author_thought_path(t.author_id, t.id) %>
		  </td>
		  </tr>	
		<% end %>
		<% if @author.thoughts.count.zero? %>
			<p class="top">This Author is Not Thinking</p>
		<% end %>
	</tr>
</table>
<div>
	<% if current_author == @author %>
		<span class='left'><%= link_to 'Edit Profile', edit_author_path(@author) %></span>
	<% end %><br>
</div>