<div class="top"><h3>Recent Thoughts</h3></div>
<ul>
  <li>
	<table class="thoughts">
	<% @thoughts.each do |t| %>
	  <tr>
	  	<td class="text">
			<%= link_to author_thought_path(t.author_id, t.id) do %>
				<%= truncate(t.text, length: 256, separator: ' ', omission: '...<br>(continued)', escape: false) %>
			<% end %>
	  	</td>
	  	<td class="author">
			Sincerely, <%= link_to t.author.name, author_path(t.author) %><br><span class="time"><%= time_ago_in_words(t.updated_at) %></span> ago
	  	</td>
	  </tr>
	<% end %>
	</table>
	<% if @thoughts.count.zero? %>
		Nobody is Thinking
	<% end %>
  </li>
</ul>	
<%= link_to "Show More", "#", class: "show-more" %>